# Dataset gốc KuaiLive - không push lên GitHub
# Dataset goc KuaiLive - khong push len GitHub
data/raw/

# Python
.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/

# VS Code
.vscode/

# Excel temporary files
~$*.xlsx
~$*.xls

# OS
.DS_Store
Thumbs.db